body {
    background-color: #FBF3D5;
}

h1 {
    text-align: center;
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    margin: 3rem;
    color: #186F65;
}

nav {
    align-items: center;
    padding: 2em;
    min-height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 8rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background-color: #FFBB5C;
    margin-top: 0;
}